<template>
<div id="box">
    2222
<div class="rank_main">
        <div class="top_leader">
        </div>
        <ul id="rank_list">
            22
        </ul>
        <div id="loading1" style="display: none"></div>
    </div>
</div>  
</template>

<script>

export default {
        mounted() {
}
}
</script>

<style>
@import url("index.css");
</style>