#box{
    width: 100%;
    height: 40.78rem;
    background: url("../../assets/images/bj.png") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}
.time{
    width: 100%;
    position: absolute;
    left: 0;
    top: 3.04rem;
    color: #FFEDA2;
    font-size: .19rem;
    text-align: center;
}
.rank_main{
    width: 100%;
    height: 18.9rem;
    position: absolute;
    left: 0;
    top: 20.93rem;
    overflow: hidden;
}
.top_leader{
    width: 100%;
    height: 8.8rem;
    font-size: 0;
    text-align: center;
    padding: 0 .4rem;
    box-sizing: border-box;
    position: absolute;
    top: 2.3rem;
    left: 0;
    z-index: 10;
}
.top_leader:before{
    width: 5.8rem;
    border-bottom: .01rem solid #EEB53C;
    opacity: .7;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.leader_list{
    position: absolute;
}
.leader_list:nth-child(2){
    width: 2.4rem;
    right: .96rem;
    top: 4.5rem;
}
.leader_list:nth-child(1){
    width: 2.83rem;
    left: 50%;
    margin-left: -1.4rem;
    top: 0;
}
.leader_list:nth-child(3){
    width: 2.4rem;
    left: .96rem;
    top: 4.5rem;
}
.leader_avatar{
    width: 2.52rem;
height: 3.16rem;
    box-sizing: border-box;
    padding-top: .3rem;
}
.leader_avatar.top1{
    height: 3.76rem;
    width: 2.84rem;
    padding-top: .42rem;
}
.leader_avatar img{
   
    margin: 0 auto;
    width: 2.1rem;
height: 2.1rem;
    border-radius: 50%;
    position: relative;
top: .55rem;
}
.leader_avatar.top1 img{
    width: 2.45rem;
height: 2.45rem;
position: relative;
top: 0.7rem;
}
.leader_avatar i{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.leader_avatar.top1 i{
    background: url("./images/1.png") no-repeat center;
    background-size: 100% 100%;
    width: 2.84rem;
    height: 3.76rem;
    display: flex;
    padding-top: .90rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.leader_avatar.top2 i{
    background: url(./images/2.png) no-repeat center;
background-size: 100% 100%;
width: 2.52rem;
height: 3.16rem;
display: flex;
padding-top: .61rem;
box-sizing: border-box;
align-items: center;
justify-content: center;
   
}
.leader_avatar.top3 i{
    width: 2.52rem;
height: 3.16rem;
display: flex;
padding-top: .61rem;
box-sizing: border-box;
align-items: center;
justify-content: center;
    background: url("./images/3.png") no-repeat center;
    background-size: 100% 100%;
}
.leader_list p{
    width: 100%;
    margin-top: 0.16rem;
    line-height: .28rem;
    font-size: 0.28rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.leader_list .top-num-warp{
    display: block;
    margin-top: .12rem;
    height: 0.28rem;
    line-height: 0.26rem;
    font-weight: bold;
    color: #82ECFF;
    font-size: .28rem;
    background: linear-gradient(0deg, #C38E24 0%, #FFFFA8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.leader_list .top-num-warp span{
    vertical-align: middle;
}
#rank_list {
    width: 100%;
height: 7.5rem;
margin-top: 11.3rem;
overflow: auto;
-webkit-overflow-scrolling: touch;
direction: rtl;
unicode-bidi: bidi-override;
}
#rank_list li{
    height: 1.28rem;
    padding: 0 .4rem;
    color: #F7E99E;
    padding-right: 0.8rem;
    font-size: 0.28rem;
}
#rank_list li>span.rank_num{
    display: inline-block;
    width: 0.5rem;
}
.user_info{
    display: inline-block;
    width: 55%;
    height: 1.25rem;
    line-height: 1.25rem;
}
.user_info img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.05rem;
    height: 0.84rem;
    width: 0.84rem;
    border-radius:50% ;
    border: .02rem solid #FFFEA8;
    box-sizing: border-box;
}
.gift_num_warp{
    width: 30%;
    display: inline-block;
    font-weight: bold;
    font-size: .28rem;
    text-align: left;
    color: #82ECFF;
    background: linear-gradient(0deg, #C38E24 0%, #FFFFA8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gift_num_warp span{
    vertical-align: middle;
}
.icon{
    display: inline-block;
    width: .26rem;
    height: .26rem;
    margin-right: .06rem;
    background: url("./images/liwu.png") no-repeat center;
    background-size: contain;
}
.nick_name{
    vertical-align: middle;
    display: inline-block;
    width: 1.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    margin-right: 0.2rem;
    color: #fff;
   
}

#loading1{
    z-index: 9999;
    height:0.8rem;
    width:0.8rem;
    background: url("./images/loading.gif") no-repeat center;
    background-size: 100% 100% ;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.no_data{
    color: #fff;
    font-size: 0.34rem;
    text-align: center;
}