html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,button,header,section,footer{display:block;margin: 0; padding: 0;font-family: Helvetica,Arial,'Heiti SC','\9ED1\4F53',DroidSansFallback,sans-serif;}
html,body{width:100%;height: 100%;-webkit-overflow-scrolling: touch;-webkit-tap-highlight-color: transparent;}
body{font-size: 0.14rem;}
em{font-style: normal;}
ul,li{list-style: none}
a{text-decoration: none;color:#666;}
img{display: block;border:0;}
button{
	border: 0;
   	outline: none;
   	background: none;
}
body {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}